.footer {
  padding: 16px;
  background-color: var(--blue-light);
}

.logo {
  display: block;
  width: 24px;
  height: 24px;
}

.label {
  color: var(--orange);
  font-family: var(--common-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.5px;
}
